*{box-sizing: border-box;}
.title{font-family: elephant; font-size: 300%;text-align: center;}
.intro{font-size: 50px; text-align: justify;}
.subtitle{font-size: 0.8em; text-align: right;}
#name1{text-shadow: -10px 0px 2px red;}
#name2{text-shadow: 0px -10px 2px red;}
#name3{text-shadow: -10px 10px 2px red;}
#name4{text-shadow: 10px -10px 2px red;}
#name5{text-shadow: 10px -10px 5px red;}
.box1, .box2{background-color: purple; height: 100px; width: 200px; box-shadow: 5px 5px 10px black;}
.box2{box-shadow: 0px 0px 10px 10px black;}
.box3, .box4, .box5, .box6, .box7, .box8{width: 200px; height: 100px;}
.box3{background-color: yellow; margin-bottom: 50px;}
.box4{background-color: green; margin-left: 100px;}
.box5{background-color: lightblue; margin: auto;}
.box6{background-color: gray; margin: 100px;}
.box7{background-color: orange; margin: 100px 300px;}
.box8{background-color: olive; margin: 200px 100px 300px 50px;}
/* ---------PADDING---------- */
.p1{padding-top: 50px;}
.p2{padding: 20px 100px;}
.p3{padding: 50px;}
.p4{padding: 20px 50px 100px 30px;}
/* ---------LAYOUT---------- */
.nature{background-color: lightgreen; font-size: 300%; text-align: center; padding: 20px 0px; text-shadow: 2px 2px 5px orange; width: auto; box-shadow: 2px 2px 5px black; color: darkgreen;}
/* ---------IMAGES---------- */
.img_container{width: 90%; margin: auto; margin-top: 2em;}
.image1, .image2, .image3, .image4{width: 45%; margin: 2%;}
.row1, .row2, .row3{margin-top: 2em;}
.image1{border-radius: 20px;}
.image2{border-radius: 50%;}
.image3{border: ridge 20px blue; padding: 10px;}
.image4{box-shadow: 0px 0px 10px 5px brown;}
.pContent{width: 50%; float: right; padding: 1em 2em;
}
/* ---------CONTACT---------- */
.contact{background-color: gray; display: inline-block; width: 100%}
.contact1, .contact2, .contact3{width: 30% float: left; margin-left: 3%; padding: 1em 2em;}
/* ---------ACTIVITY 3--------- */
.tech{background-color: black; font-size: 400%; text-align: center; padding: 15px 0px; text-shadow: 2px 2px 5px blue; width: auto; box-shadow: 2px 2px 5px white; color: yellow;}
.r1{display: flex;}
.picture1, .picture2, .picture3{flex: 33.33%; margin: 0em;}
.picture1{background-image: url("images/img1.jpg");
 background-repeat: no-repeat;
 background-position: top;
 background-size: 90% 100%;
 height: 1000px;
 position: relative;
 filter: invert(90%);}
 .picture2{background-image: url("images/img2.jpg");
 background-repeat: no-repeat;
 background-position: top;
 background-size: 90% 100%;
 height: 1000px;
 position: relative;
 filter: blur(3px);}
.picture3{background-image: url("images/img3.jpg");
 background-repeat: no-repeat;
 background-position: top;
 background-size: 90% 100%;
 height: 1000px;
 position: relative;}
.msg1{position: absolute; border: ridge; top: 50%; left: 15%; width: 70%; color: white; text-align: center;}
.msg2{position: absolute; top: 50%; left: 15%; width: 70%; color: black; text-align: auto;}
.msg3{position: absolute; top: 50%; left: 15%; width: 70%; color: white; text-align: auto;}
